@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Smooch&display=swap");

/* variables */
:root {
  --header-height: 3.5rem;
  
  --primary-color: hsl(34, 52%, 54%);
  --primary-color-light: hsl(34, 52%, 64%);
  --primary-color-lighten: hsl(34, 52%, 68%);
  --black-color: hsl(0, 0%, 4%);
  
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Smooch", cursive;
  --fs-xl: 6rem;
  --fs-md: 1rem;
  --fs-sm: 0.938rem;
  --fs-xs: 0.813rem;
  
  --fw-regular: 400;
  --fw-semibold: 600;
  
  --zi-soft: 10;
  --zi-hard: 100;
  }
  
@media screen and (min-width: 1150px) {
  :root {
    --fs-xl: 17rem;
    --fs-lg: 1.5rem;
    --fs-md: 1.25rem;
    --fs-sm: 1rem;
    --fs-xs: 0.875rem;
  }
}

/* reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* base */
html {
  scroll-behavior: smooth;
}
  
body,
input,
button {
  font-family: var(--primary-font);
  font-size: var(--fs-md);
}
  
body {
  background-color: var(--body-color);
  color: var(--black-color);
  background-color: var(--primary-color);
  transition: background-color 0.4s;
}
  
input,
button {
  border: none;
  outline: none;
}
  
h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--primary-font);
  font-weight: var(--fw-medium);
}
  
ul {
  list-style: none;
  margin: 0;
}
  
a {
  text-decoration: none;
}
  
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* theme */
body.dark-theme {
  --primary-color: hsl(34, 52%, 54%);
  --primary-color-light: hsl(34, 52%, 64%);
  --primary-color-lighten: hsl(34, 52%, 68%);
  --black-color: hsl(0, 0%, 4%);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(230, 16%, 15%);
}
  
.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(230, 16%, 25%);
}
  
.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(230, 16%, 35%);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 75%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 55%);
}
  
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(230, 16%, 35%);
}

/* utils */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
  
.main {
  overflow: hidden;
}

/* nav */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--zi-hard);
}

.header.active {
  background-color: var(--primary-color);
  box-shadow: 0 2px 16px hsla(0,0%, 0%, 0.1);
}

.nav {
  height: var(--header-height);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-weight: var(--fw-semibold);
}

.nav__close,
.nav__actions {
  display: flex;
  font-size: 1.25rem;
}

.nav__close,
.nav__actions i {
  cursor: pointer;
}

.nav__actions {
  column-gap: 1rem;
}

.nav__list {
  display: flex;
}

.nav__link {
  color: var(--black-color);
  font-weight: var(--fw-semibold);
}

/* mobile */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--primary-color);
    width: 80%;
    height: 100%;
    box-shadow: -2px 0 12px hsla(0,0%, 0%, 0.2);
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }

  .nav__menu.nav__menu--show {
    right: 0;
  }

  .nav__list {
    flex-direction: column;
    gap: 3rem;
  }

  .nav__close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
  }
}

/* home */
.home__container {
  height: 100vh;
  padding: 9rem 0;
  display: grid;
  align-items: center;
  row-gap: 6rem;
}

.home__content {
  position: relative;
  display: grid;
}

.home__circle {
  position: absolute;
  inset: 0;
  width: 280px;
  height: 280px;
  border: 3px solid var(--primary-color-lighten);
  border-radius: 50%;
  margin-inline: auto;
  display: grid;
  place-items: center;
}

.home__subcircle {
  width: 248px;
  height: 248px;
  border: 12px solid var(--primary-color-light);
  border-radius: 50%;
}

.home__title {
  position: absolute;
  font-size: var(--fs-xl);
  font-family: var(--secondary-font);
  font-weight: var(--fw-regular);
}

.home__img {
  width: 250px;
  filter: drop-shadow(-8px 8px 16px hsla(34, 51%, 8%, .4));
  margin: 0 auto 2rem;
}

.home__item {
  text-align: center;
}

.home__product,
.home__price {
  font-size: var(--fs-lg);
  margin-bottom: 0.25rem;
}

.home__footer,
.home__langs,
.home__social {
  display: flex;
}

.home__footer {
  justify-content: space-between;
  align-items: center;
}

.home__langs, .home__social {
  column-gap: 1rem;
}

.home__langs {
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
}

.home__langs a {
  font-size: var(--fs-sm);
  color: var(--black-color);
}

.home__link {
  font-size: 1.25rem;
  color: var(--black-color);
}

/* swiper */
.swiper {
  margin-inline: initial;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  top: initial;
  bottom: 0;
  font-size: 1.5rem;
  color: var(--black-color);
}

.swiper-button-prev {
  left: calc(50% - 8rem);
}

.swiper-button-next {
  right: calc(50% - 8rem);
}

/* small */
@media screen and (max-width: 330px) {
  .container {
    margin-inline: 1rem
  }

  .home__img {
    width: 200px;
    margin-bottom: 3rem;
  }

  .home__title {
    font-size: 5rem;
  }

  .home__circle {
    width: 240px;
    height: 240px;;
  }

  .home__subcircle {
    width: 206px;
    height: 206px;
  }
}

/* medium */
@media screen and (min-width: 768px) {
  .nav__menu {
    width: 50%;
  }

  .home__item {
    scale: 0.6;
    transition: scale 0.3s;
  }

  .home__product,
  .home__price {
    opacity: 0;
  }

  /* swiper */
  .home .swiper-slide-active {
    scale: 1; 
  }

  .swiper-slide-active :is(.home__product, .home__price) {
    opacity: 1;
  }
}

/* large */
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__close,
  .nav__open {
    display: none;
  }

  .nav__menu {
    width: 100%;
  }

  .nav__list {
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;
  }

  .nav__actions {
    font-size: 1.5rem;
    column-gap: 1rem;
  }

  .home__container  {
    height: initial;
    padding-top: 10rem;
  }

  .home-swiper {
    max-width: 1100px;
    margin-inline: auto;
  }

  .home__circle {
    width: 400px;
    height: 400px;
    border-width: 4px;
  }

  .home__subcircle {
    width: 350px;
    height: 350px;
    border-width: 20px;
  }

  .home__item {
    width: 450px;
    scale: 0.55;
  }

  .home__img {
    width: 300px;
    margin-bottom: 1.75rem;
  }

  .home__product,
  .home__price {
    font-size: var(--fs-lg);
  }

  /* swiper */
  .swiper-button-prev,
  .swiper-button-next {
    font-size: 2rem;
  }

  .swiper-button-prev {
    left: calc(50% - 12rem)
  }

  .swiper-button-next {
    right: calc(50% - 12rem)
  }
}